<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Anime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BuildAll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MyAnimeListAgent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MyAnimeListCLI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C56A4731F545F39000AF25D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C7B89041F490873009D5C8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C7B89251F533AE2009D5C8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C7B893A1F533AE2009D5C8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C7B894E1F533D79009D5C8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
